/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Roboto:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100&display=swap'); */
/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
  font-family: 'Josefin Sans' 'Arial Narrow', Arial, sans-serif ;

} */
.basicForm{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
  font-family: 'Josefin Sans' 'Arial Narrow', Arial, sans-serif ;
}
.div1{
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: #210d2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: rgb(255, 214, 214);
  background: transparent;
  text-shadow: 0 2px 2px black;

}

.input1{
  width: 50%;
  height: 10%;
  padding: 30px, 20px;
  border: none;
  outline: none;
  margin: 10px 0;
  text-align: center;
  

}

.button1{
  line-height: 24px;
  padding: 1px 20px;
  background: #9b59b6;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}